.nav {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 135px; HEIGHT: 25px; COLOR: #838383; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: relative; font-family: "Myriad Pro", Arial, Verdana, sans-serif; FONT-WEIGHT: 500;BACKGROUND-COLOR: #e9f6f9;
}
.nav LI {
	PADDING-LEFT: 0px; MARGIN: 0px; BORDER-BOTTOM: #cccccc 0px solid; LIST-STYLE-TYPE: none; POSITION: relative; LINE-HEIGHT: 1.8em; COLOR: #227fc2; FONT-WEIGHT: 500; font-family: "Myriad Pro", Arial, Verdana, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #e9f6f9; WIDTH: 135px;
}
.nav LI A:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 1px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; WIDTH: 135px; COLOR: #5d5e63; LINE-HEIGHT: 1.8em; PADDING-TOP: 0px; TEXT-DECORATION: none; font-family: "Myriad Pro", Arial, Verdana, sans-serif; FONT-WEIGHT: 500; HEIGHT: 25px;BACKGROUND-COLOR: #e9f6f9;
}
.nav LI A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 1px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; WIDTH: 135px; COLOR: #5d5e63; LINE-HEIGHT: 1.8em; PADDING-TOP: 0px; TEXT-DECORATION: none; font-family: "Myriad Pro", Arial, Verdana, sans-serif; FONT-WEIGHT: 500; HEIGHT: 25px;BACKGROUND-COLOR: #e9f6f9;
}
.nav LI A:hover {
	COLOR: #165e20; BACKGROUND-COLOR: #f4f2ec; font-family: "Myriad Pro", Arial, Verdana, sans-serif; FONT-WEIGHT: 500; HEIGHT: 25px; PADDING-LEFT: 1px; WIDTH: 135px;
}


.navr {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 211px; HEIGHT: 25px; COLOR: #838383; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: relative; font-family: "Myriad Pro", Arial, Verdana, sans-serif; FONT-WEIGHT: 500;BACKGROUND-COLOR: #e9f6f9;
}
.navr LI {
	PADDING-LEFT: 1px; MARGIN: 0px; BORDER-BOTTOM: #cccccc 0px solid; LIST-STYLE-TYPE: none; POSITION: relative; LINE-HEIGHT: 1.8em; COLOR: #227fc2; FONT-WEIGHT: 500; font-family: "Myriad Pro", Arial, Verdana, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #e9f6f9; WIDTH: 211px;
}
.navr LI A:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; WIDTH: 211px; COLOR: #5d5e63; LINE-HEIGHT: 1.8em; PADDING-TOP: 0px; TEXT-DECORATION: none; font-family: "Myriad Pro", Arial, Verdana, sans-serif; FONT-WEIGHT: 500; HEIGHT: 25px;BACKGROUND-COLOR: #e9f6f9;
}
.navr LI A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; WIDTH: 211px; COLOR: #5d5e63; LINE-HEIGHT: 1.8em; PADDING-TOP: 0px; TEXT-DECORATION: none; font-family: "Myriad Pro", Arial, Verdana, sans-serif; FONT-WEIGHT: 500; HEIGHT: 25px;BACKGROUND-COLOR: #e9f6f9;
}
.navr LI A:hover {
	COLOR: #165e20; BACKGROUND-COLOR: #f4f2ec; font-family: "Myriad Pro", Arial, Verdana, sans-serif; FONT-WEIGHT: 500; HEIGHT: 25px; PADDING-LEFT: 0px; WIDTH: 211px;
}


.style1 {
	font-family: Myriad Pro, Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #666666;
}
.learnmore-link {color: #666666; font-family: "Myriad Pro", Verdana, Arial, sans-serif; font-size: 13px }
.style6 {font-family: "Myriad Pro", Verdana, Arial, sans-serif; font-size: 13px; color: #666666;}
.homeheader {font-family: "Myriad Pro", Verdana, Arial, font-size: 13px; color: #666666; }


.body {color: #666666; font-family: "Myriad Pro", Verdana, Arial, sans-serif; font-size: 13px }
.bodyblue {color: #007dd6; font-family: "Myriad Pro", Verdana, Arial, sans-serif; font-size: 13px }
a:link {
	color: #1387c9;
	text-decoration: none;
}
a:visited {
	color: #1387c9;
	text-decoration: none;
}
a:hover {
	color: #66CCFF;
	text-decoration: underline;
}
a:active {
	color: #1387c9;
	text-decoration: none;
}



a.foot:link {
	color: #666666;
	text-decoration: none;
}
a.foot:visited {
	color: #666666;
	text-decoration: none;
}
a.foot:hover {
	color: #1387c9;
	text-decoration: underline;
}
a.foot:active {
	color: #666666;
	text-decoration: none;
}

.foot {color: #666666; font-family: "Myriad Pro", Verdana, Arial, sans-serif; font-size: 13px }


body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.header {
	font-family: Myriad Pro, Verdana, Arial, sans-serif;
	font-size: 18px;
	color: #1186d9;
}